@charset "UTF-8";



header {
    width: 1000px;
    background-color: #ffcccc;
}

footer {
    width: 1000px;
    background-color: #ffccff;
}
#main {
    background-color: #ccffcc;
    width: 700px;
}

#menu {
    background-color: #ccccff;
    width: 300px;
}
#wrapper {
    width: 1000px;
    display: flex;
    
}