@charset "UTF-8";

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
}

header {
    width: 1000px;
    margin: 0 auto;
    background-color: #ffcccc;
}

footer {
    width: 1000px;
    background-color: #ffccff;
    margin: 0 auto;
}
#main {
    background-color: #ccffcc;
    width: 700px;
    padding: 20px 0 0;
}

#menu {
    background-color: #ccccff;
    width: 300px;
}
#wrapper {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}